/*font-family: 'Special Elite', cursive;
font-family: 'Creepster', cursive;*/


h1 {
    font-family: 'Creepster', cursive;
}


#picture {

    width: 15%;
    margin-left: 600px;
    margin-top: 10px;
    border: dotted;
}

#title {
    font-family: 'Creepster', cursive;
    margin: 0;
    text-align: center;
    background: lightblue;
    background-size: 100%;
    color: maroon;
}

a {
    color: black;
    text-decoration: none;
    background: lightblue;
    margin-top: 15%;
    font-family: 'Special Elite', cursive;

}

a:hover {
    text-shadow: 30%;
    background: grey;
    transition-duration: 600ms;
    border-radius: 25%;
}

a div {

    background: lightblue;
    margin-right: 1200px;
    border-radius: 45%;
    padding: 25px;
}

a div:hover {

    background: maroon;
    color: white;
    border-radius: 0;
    margin-right: -12px;
    transition-duration: 600ms;
}

#product-title {
    margin: 0;
    background: maroon;
    color: white;
    text-align: center;
    font-family: 'Creepster', cursive;
}

h2 {
    font-size: 64px;
    font-family: 'Creepster', cursive;
    text-align: center;
}

#product-description {
    font-family: 'Special Elite', cursive;
    text-align: center;
    background: lightpink;
    padding: 5px;
}

#product-price {
   font-family: 'Special Elite', cursive;
    background: lightgreen;
    text-align: right;
    margin-right: 55px;
    margin-top: 85px;
    padding: 5px;
}

